{% extends "template.html" %}
{% block conteudo %}
    <div class="texto">
        <h1>Sobre nós</h1>
        <p>
            senTTube é um site feito por um grupo universitario utilizando tecnicas de pln e IA para classificar o sentimento dos 
            comentarios de vídeos do Youtube.
            
            O site é feito usando Python e o mini framework Flask para backend e para criação da IA foi utilizado sklearn, nltk e pandas.
            
            Além disso é usado a API v3 do Youtube para puxar os comentarios do vídeo do Youtube que é passado pelo usuario.
        </p>
    </div>
{% endblock %}