{% extends "template.html" %}
{% block conteudo %}
    <div class="suges">
        <p style="color: white;">Faça sua sugestão!</p>
    </div>
    <div class="email">
        <input placeholder="Digite seu email" type="text" />
    </div>
    <div class="arroba">
        <input placeholder="@ da sugestão" type="text" />
    </div>
    <div class="btn">
        <button type="submit" class="btn-pesquisa">Buscar</button>
    </div>
    <div class="erro">
        <p style="color: red;">Preencha todos os campos!</p>
    </div>
{% endblock %}